body{
    background-color: lavender;
}
img{
    width: 300px;
    height: 300px;
    display: inline-block;
}
ul{
    display: inline-block;
    margin-right: 15px;
}
h1,h2{
    text-align: center;
}
section {
    margin: 0 auto;
}